openapi: 3.0.0
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
info:
  description: "## Introduction\nThe JustiFi API is a REST-based payment processing\
    \ API. Our API has predictable, resource-oriented URLs, accepts JSON, and returns\
    \ JSON. We use HTTP status codes and supply detailed error codes whenever possible.\
    \ We'll provide you with both a `test` and `live` account with which to use our\
    \ API. Each account will have its own API key, and the key you use to authenticate\
    \ each request will determine whether to use your `test` or `live` account. When\
    \ you use your `test` account, it won't affect your `live` data or move any real\
    \ money.\n\n## Getting Started\nTo process a payment with JustiFi, follow these\
    \ steps\n\n- [Get Your Accounts](#get-your-accounts)\n- [Get Your API Keys](#get-your-api-keys)\n\
    - [Authenticate With JustiFi](#authenticate-with-justifi)\n- For Platforms, [Create\
    \ and Onboard Your Sub Accounts](https://docs.justifi.tech/api-spec#tag/Sub-Accounts)\n\
    - [Create a Payment](https://docs.justifi.tech/api-spec#tag/Payments/operation/CreatePayment)\n\
    \n<br>\n\n### Get Your Accounts\nOur customer onboarding team will work with you\
    \ to create your `test` and `live` accounts. For platforms, our team will also\
    \ guide you through setting up your sub accounts onboarding. Once you're up and\
    \ running, you'll have access to the JustiFi API as well as the admin features\
    \ at https://app.justifi.ai where you can see your account overview, payments,\
    \ payouts, issue refunds, etc.\n\n<br>\n\n### Get Your API Keys\nOnce your `test`\
    \ and `live` accounts have been created, you'll have access to generate your API\
    \ keys in the Developer Tools section of the app. You'll need a `test` key and\
    \ a `live` key. Each key will provide you with a client id and a client secret,\
    \ which you'll use to authenticate your API requests. Requests authenticated with\
    \ your `test` key will use your `test` account; requests authenticated with your\
    \ `live` key will use your `live` account. Make sure to store your client secrets\
    \ somewhere secure (like a password manager) because this is the only time they'll\
    \ display in the UI.\n\nAdditionally, we can provide access to a sandbox environment\
    \ upon request.\n\n<br>\n\n### Authenticate With JustiFi\n<PullRight>\n\n#####\
    \ Example OAuth Client Credentials Grant Request\n```sh\ncurl -X POST https://api.justifi.ai/oauth/token\
    \ \\\n    -H 'Content-Type: application/json' \\\n    --data '{\"client_id\":\"\
    [your client id]\",\"client_secret\":\"[your client secret]\"}'\n```\n  #####\
    \ Example Authenticated Response\n```json\n{\n  \"access_token\": \"... this will\
    \ be a very long string and is valid for 24 hours\"\n}\n```\n##### Example Authenticated\
    \ Request\n```sh\ncurl -X POST https://api.justifi.ai/v1/payments \\\n    -H 'Authorization:\
    \ Bearer [access_token]' \\\n    -H 'Content-Type: application/json'\n    -H 'Idempotency-Key:\
    \ a-unique-string-for-the-transaction'\n```\n</PullRight>\n\nJustiFi uses the\
    \ OAuth Client Credentials authentication flow. To access, use your JustiFi client\
    \ id and client secret to POST to https://api.justifi.ai/oauth/token. These are\
    \ valid for 24 hours. The test key is prepended with `test_` and the live key\
    \ is prepended with `live_`.\n\nNext, take the access token in that response and\
    \ pass it in all subsequent requests as the `Authorization` header.\n\nThis token\
    \ is valid for 24 hours, so be sure to handle a `401 - Unauthorized` response\
    \ by getting a new access token via the client credentials grant API.\n\n## Idempotent\
    \ Requests\n<PullRight>\n\n##### Example Request with Idempotency-Key Header\n\
    ```sh\ncurl -X POST https://api.justifi.ai/v1/payments \\\n    -H 'Authorization:\
    \ Bearer [access_token]' \\\n    -H 'Accept: application/json'\n    -H 'Idempotency-Key:\
    \ a-unique-string-for-the-transaction'\n```\n</PullRight>\n\nIn order to guarantee\
    \ that payments and other important transactions are only ever processed a single\
    \ time, we leverage the `Idempotency-Key` header in our payments APIs. This means\
    \ that you MUST provide an `Idempotency-Key` header along with your request, otherwise\
    \ you'll receive an error. If a second request with same idempotent key is processed\
    \ concurrently, it will result in a `409` error instead of double processing.\n\
    \nIf these requests fail with a network timeout or a `5XX` error, they should\
    \ be retried with the same exact parameters. Once they're fully successful, you'll\
    \ receive a `2XX` response. If you POST the same request and `Idempotency-Key`\
    \ again, you'll get the response you originally received back. If you receive\
    \ a `4XX` error, do not retry the request, unless the response code is a `409`.\n\
    \nIf you try the same `Idempotency-Key` with different parameters, your request\
    \ will error and won't be possible to process. The `Idempotency-Key` header is\
    \ only meant for a single transaction; it's there to protect against processing\
    \ the same exact thing more than once. Once the parameters change, a request is\
    \ considered distinct from the original request.\n\nYou may use any string to\
    \ identify your `Idempotency-Key`; we generally recommend using a generated uuid,\
    \ but you may use any unique string.\n\n## Pagination\n<PullRight>\n\n##### Example\
    \ Paginated Request\n```sh\ncurl -X GET https://api.justifi.ai/v1/payments?limit=25&after_cursor=token-from-page-info\
    \ \\\n    -H 'Authorization: Bearer [access_token]' \\\n    -H 'Accept: application/json'\n\
    ```\n##### Example Paginated Response\n```sh\n{\n    \"id\": null,\n    \"type\"\
    : \"array\",\n    \"data\":[\n        { \"id\":\"py_438xBom2Drh55kE1WfyGLg\",\n\
    \          \"amount\": 1000,\n          ... additional response attributes based\
    \ on resource schema\n        }\n    ],\n    \"page_info\": {\n      \"has_previous\"\
    : false,\n      \"has_next\": true,\n      \"start_cursor\": \"WyIyMDIyLTAxLTExIDE1OjI3OjM2LjAyNzc3MDAwMCIsImNhNjQwMTk1LTEzYzMtNGJlZi1hZWQyLTU3ZjA1MzhjNjNiYSJd\"\
    ,\n      \"end_cursor\": \"WyIyMDIyLTAxLTExIDEyOjU5OjQwLjAwNTkxODAwMCIsImQ0Njg5MGE2LTJhZDItNGZjNy1iNzdkLWFiNmE3MDJhNTg3YSJd\"\
    \n    }\n}\n```\n</PullRight>\nAll top-level API resources have support for bulk\
    \ fetches via `array` API methods. JustiFi uses cursor-based pagination, which\
    \ supports `limit`, `before_cursor` and `after_cursor`. Each response will have\
    \ a `page_info` object that contains the `has_next` and `has_previous` fields,\
    \ which tells you if there are more items before or after the current page.  The\
    \ `page_info` object also includes `start_cursor` and `end_cursor` values which\
    \ can be used in conjunction with `before_cursor` and `after_cursor` to retrieve\
    \ items from the API one page at a time.\n\n#### Standard `array` API Request\
    \ Parameters\n\n<table layout=\"fixed\">\n    <tr>\n        <th style=\"width:\
    \ 200px\">Parameter</th>\n        <th>Description</th>\n    </tr>\n    <tr>\n\
    \        <td style=\"vertical-align: top\"><code>limit</code></td>\n        <td>\n\
    \            The number of resources to retrieve.<br />\n            <b>type</b>:\
    \ <code>integer</code><br />\n            <b>default</b>: <code>25</code><br />\n\
    \            <b>minimum</b>: <code>1</code><br />\n            <b>maximum</b>:\
    \ <code>100</code>\n        </td>\n    </tr>\n    <tr>\n        <td style=\"vertical-align:\
    \ top\"><code>after_cursor</code></td>\n        <td>\n            Token to fetch\
    \ the next page of a list.<br />\n            <b>type</b>: <code>string</code><br\
    \ />\n        </td>\n    </tr>\n    <tr>\n        <td style=\"vertical-align:\
    \ top\"><code>before_cursor</code></td>\n        <td>\n            Token to fetch\
    \ the previous page of a list.<br />\n            <b>type</b>: <code>string</code><br\
    \ />\n        </td>\n    </tr>\n</table>\n\nThe `after_cursor`/`before_cursor`\
    \ parameter determines which page of results will be returned.\nIf `after_cursor`\
    \ is the encoded `id` of the last record in the collection `has_next` will be\
    \ false and you'll get an empty array response. If `before_cursor` is the encoded\
    \ `id` of the first record in the collection `has_previous` will be false and\
    \ you'll get an empty array response.\n\nThe `limit` parameter determines the\
    \ maximum number of results included in each response. If there are fewer\nrecords\
    \ available than the `limit` value, the response will include all available records.\
    \ The maximum value\nallowed is 100 with a default value of 25. If the `limit`\
    \ value is an invalid type, the default value of 25 is used.\n\n#### Standard\
    \ API Response Structure\nAll of our responses are contained in the same envelope,\
    \ for arrays the id field will be null\nand the object will be an array.\n\n<table\
    \ layout=\"fixed\">\n    <tr>\n        <th style=\"width: 200px\">Attribute</th>\n\
    \        <th>Description</th>\n    </tr>\n    <tr>\n        <td style=\"vertical-align:\
    \ top\"><code>id</code></td>\n        <td>\n            The id of the object returned.\
    \ Will be null for arrays.<br />\n            <b>type</b>: <code>string</code><br\
    \ />\n            <b>default</b>: <code>\"a uuid\"</code>\n        </td>\n   \
    \ </tr>\n    <tr>\n        <td style=\"vertical-align: top\"><code>type</code></td>\n\
    \        <td>\n            The type of object returned.<br />\n            <b>type</b>:\
    \ <code>string</code><br />\n            <b>default</b>: <code>\"array\"</code>\n\
    \        </td>\n    </tr>\n    <tr>\n        <td style=\"vertical-align: top\"\
    ><code>data</code></td>\n        <td>\n            The resource OR an array of\
    \ the requested resources.<br />\n            <b>type</b>: <code>array | object</code><br\
    \ />\n            <b>Notes</b>: May be an empty array <code>[]</code> if no resources\
    \ are available.<br />\n        </td>\n    </tr>\n    <tr>\n        <td style=\"\
    vertical-align: top\"><code>page_info</code></td>\n        <td>\n            The\
    \ object containing pagination information.<br />\n            <b>type</b>: <code>object</code><br\
    \ />\n            <b>Notes</b>: Contains <code>has_previous</code>, <code>has_next</code>,\
    \ <code>start_cursor</code> and <code>end_cursor</code>\n        </td>\n    </tr>\n\
    </table>\n\n## Testing\nUse these card numbers to test successful transactions\
    \ as well as various error scenarios. Make sure to authenticate your requests\
    \ using your `test` API key (these cards won't work for `live` payments).\n\n\
    #### Successful Test Cards\n<table layout=\"fixed\">\n  <tr>\n    <th style=\"\
    width: 200px\">Number</th>\n    <th>Brand</th>\n    <th>CVC</th>\n    <th>Date</th>\n\
    \  </tr>\n  <tr>\n    <td><code>4242424242424242</code></td>\n    <td>Visa</td>\n\
    \    <td>Any 3 digits</td>\n    <td>Any future date</td>\n  </tr>\n  <tr>\n  \
    \  <td><code>4000056655665556</code></td>\n    <td>Visa (debit)</td>\n    <td>Any\
    \ 3 digits</td>\n    <td>Any future date</td>\n  </tr>\n  <tr>\n    <td><code>5555555555554444</code></td>\n\
    \    <td>Mastercard</td>\n    <td>Any 3 digits</td>\n    <td>Any future date</td>\n\
    \  </tr>\n  <tr>\n    <td><code>2223003122003222</code></td>\n    <td>Mastercard\
    \ (2-series)</td>\n    <td>Any 3 digits</td>\n    <td>Any future date</td>\n \
    \ </tr>\n    <tr>\n    <td><code>5200828282828210</code></td>\n    <td>Mastercard\
    \ (debit)</td>\n    <td>Any 3 digits</td>\n    <td>Any future date</td>\n  </tr>\n\
    \    <tr>\n    <td><code>5105105105105100</code></td>\n    <td>Mastercard (prepaid)</td>\n\
    \    <td>Any 3 digits</td>\n    <td>Any future date</td>\n  </tr>\n  <tr>\n  \
    \  <td><code>378282246310005</code></td>\n    <td>American Express</td>\n    <td>Any\
    \ 4 digits</td>\n    <td>Any future date</td>\n  </tr>\n  <tr>\n    <td><code>371449635398431</code></td>\n\
    \    <td>American Express</td>\n    <td>Any 4 digits</td>\n    <td>Any future\
    \ date</td>\n  </tr>\n  <tr>\n    <td><code>6011000990139424</code></td>\n   \
    \ <td>Discover</td>\n    <td>Any 3 digits</td>\n    <td>Any future date</td>\n\
    \  </tr>\n  <tr>\n    <td><code>3056930009020004</code></td>\n    <td>Diners Club</td>\n\
    \    <td>Any 3 digits</td>\n    <td>Any future date</td>\n  </tr>\n  <tr>\n  \
    \  <td><code>36227206271667</code></td>\n    <td>Diners Club (14 digit card)</td>\n\
    \    <td>Any 3 digits</td>\n    <td>Any future date</td>\n  </tr>\n  <tr>\n  \
    \  <td><code>3566002020360505</code></td>\n    <td>JCB</td>\n    <td>Any 3 digits</td>\n\
    \    <td>Any future date</td>\n  </tr>\n  <tr>\n    <td><code>6200000000000005</code></td>\n\
    \    <td>UnionPay</td>\n    <td>Any 3 digits</td>\n    <td>Any future date</td>\n\
    \  </tr>\n</table>\n\n#### Declined Test Cards\n<table layout=\"fixed\">\n  <tr>\n\
    \    <th style=\"width: 200px\">Number</th>\n    <th>Description</th>\n  </tr>\n\
    \  <tr>\n    <td><code>4000000000000101</code></td>\n    <td>\n      If a CVC\
    \ number is provided, the cvc_check fails.\n    </td>\n  </tr>\n  <tr>\n    <td><code>4000000000000341</code></td>\n\
    \    <td>\n      Tokenizing this card succeeds, but attempts to make a payment\
    \ fail.\n    </td>\n  </tr>\n  <tr>\n    <td><code>4000000000000002</code></td>\n\
    \    <td>Payment is declined with a card_declined code.</td>\n  </tr>\n  <tr>\n\
    \    <td><code>4000000000009995</code></td>\n    <td>\n      Payment is declined\
    \ with a card_declined code. The decline_code attribute is insufficient_funds.\n\
    \    </td>\n  </tr>\n  <tr>\n    <td><code>4000000000009987</code></td>\n    <td>\n\
    \      Payment is declined with a card_declined code. The decline_code attribute\
    \ is lost_card.\n    </td>\n  </tr>\n  <tr>\n    <td><code>4000000000009979</code></td>\n\
    \    <td>\n      Payment is declined with a card_declined code. The decline_code\
    \ attribute is stolen_card.\n    </td>\n  </tr>\n  <tr>\n    <td><code>4000000000000069</code></td>\n\
    \    <td>Payment is declined with an expired_card code.</td>\n  </tr>\n  <tr>\n\
    \    <td><code>4000000000000127</code></td>\n    <td>Payment is declined with\
    \ an invalid_cvc code.</td>\n  </tr>\n  <tr>\n    <td><code>4000000000000119</code></td>\n\
    \    <td>Payment is declined with a gateway_error code.</td>\n  </tr>\n  <tr>\n\
    \    <td><code>4242424242424241</code></td>\n    <td>\n      Payment is declined\
    \ with an card_number_invalid code as the card number fails the Luhn check.\n\
    \    </td>\n  </tr>\n</table>\n\n#### Successful Bank Account (ACH)\n<table layout=\"\
    fixed\">\n  <tr>\n    <th>Routing Number</th>\n    <th>Account Number</th>\n \
    \ </tr>\n  <tr>\n    <td><code>110000000</code></td>\n    <td><code>000123456789</code></td>\n\
    \  </tr>\n</table>\n\n#### Declined Bank Accounts (ACH)\n<table layout=\"fixed\"\
    >\n  <tr>\n    <th>Routing Number</th>\n    <th>Account Number</th>\n    <th>Payment\
    \ Error</th>\n  </tr>\n  <tr>\n    <td><code>110000000</code></td>\n    <td><code>000222222227</code></td>\n\
    \    <td>\n      Insufficient Funds\n    </td>\n  </tr>\n  <tr>\n    <td><code>110000000</code></td>\n\
    \    <td><code>000333333335</code></td>\n    <td>\n      The account doesn't support\
    \ debits\n    </td>\n  </tr>\n  <tr>\n    <td><code>110000000</code></td>\n  \
    \  <td><code>000111111113</code></td>\n    <td>\n      The account is closed\n\
    \    </td>\n  </tr>\n  <tr>\n    <td><code>110000000</code></td>\n    <td><code>000111111116</code></td>\n\
    \    <td>\n      The account doesn't exist\n    </td>\n  </tr>\n</table>\n\n##\
    \ HTTP Errors\nThe JustiFi API may return a number of standard HTTP errors due\
    \ to invalid requests. Some common errors are described\nbelow to help you build\
    \ with JustiFi.\n\n#### Bad Request\nThe server cannot process the request. This\
    \ error is most likely due to malformed request syntax.\n- code: `400`\n- status:\
    \ `Bad Request`\n\n#### Unauthorized\nSimilar to a `403 Forbidden`, but specifically\
    \ when authentication is provided and has failed, or has not been provided.\n\
    This error is most likely due to not including your API key in the request header.\n\
    - code: `401`\n- status: `Unauthorized`\n\n#### Payment Required\nThere was an\
    \ error processing the payment. This response is returned when errors occur while\
    \ tokenizing the payment method, such\nas an invalid cvc or an expiration date\
    \ in the past. This can also occur when making a payment and the card is declined.\n\
    In that case, the error message will provide more specific information about why\
    \ the request was declined.\n- code: `402`\n- status: `Payment Required`\n\n####\
    \ Forbidden\nThe request was valid, but you are unable to execute the request.\
    \ This error is most likely due to the API key that\nwas used not having the necessary\
    \ permissions, or attempting a prohibited action such as creating a duplicate\n\
    record where one already exists.\n- code: `403`\n- status: `Forbidden`\n\n####\
    \ Not Found\nThe requested resource could not be found, but may be available in\
    \ the future. This error is most likely due to\nrequesting a resource by `id`\
    \ that doesn't exist. You'll want to double check that you're referencing the\
    \ correct\n`id` and that it exists on your account.\n- code: `404`\n- status:\
    \ `Not Found`\n\n#### Concurrent Request Error\nThe request has an identical `Idempotency-Key`\
    \ header for another request which either failed OR is processing at the same\
    \ time. You can retry these requests without risk of double processing.\n- code:\
    \ `409`\n- status: `Conflict`\n\n#### Unprocessable Entity\nThe request was well-formed,\
    \ but was unable to be processed due to semantic errors. This error is most likely\
    \ due to\nincluding invalid data in `POST`, `PATCH`, and `PUT` requests. Double\
    \ check the request documentation to make sure\nyou're supplying the required\
    \ attributes, and that the attribute types are correct.\n- code: `422`\n- status:\
    \ `Unprocessable Entity`\n\n#### Internal Server Error\nAn internal server error\
    \ occurred due to an unexpected condition. This error is most likely due to an\
    \ issue with our\nservers.\n- code: `500`\n- status: `Internal Server Error`\n\
    \n#### Error Codes\n\nMany of our `4XX` errors will provide an error code in addition\
    \ to their HTTP status. Here is a list of our error codes and a brief description\
    \ of the error to provide more context when applicable.\n\n<table layout=\"fixed\"\
    >\n  <tr>\n    <th style=\"width: 300px\">Error Code</th>\n    <th>Description</th>\n\
    \  </tr>\n  <tr>\n    <td><code>acct_last_four_required</code></td>\n    <td>Missing\
    \ required parameter: acct_last_four</td>\n  </tr>\n  <tr>\n    <td><code>amount_below_minimum</code></td>\n\
    \    <td>Amount must be greater than 50</td>\n  </tr>\n  <tr>\n    <td><code>amount_must_be_an_integer</code></td>\n\
    \    <td>Amount must be an integer</td>\n  </tr>\n  <tr>\n    <td><code>amount_required</code></td>\n\
    \    <td>Missing required parameter: amount</td>\n  </tr>\n  <tr>\n    <td><code>amount_above_maximum</code></td>\n\
    \    <td>Amount must be lower than 100000000 ($1,000,000.00)</td>\n  </tr>\n \
    \ <tr>\n    <td><code>amount_below_minimum</code></td>\n    <td>Amount must be\
    \ greater than 50</td>\n  </tr>\n  <tr>\n    <td><code>application_fee_rate_id_required</code></td>\n\
    \    <td>Missing required parameter: application_fee_rate_id</td>\n  </tr>\n \
    \ <tr>\n    <td><code>application_fee_required</code></td>\n    <td>Missing required\
    \ parameter: application_fee</td>\n  </tr>\n  <tr>\n    <td><code>brand_required</code></td>\n\
    \    <td>Missing required parameter: brand</td>\n  </tr>\n  <tr>\n    <td><code>capture_strategy_invalid</code></td>\n\
    \    <td>Format is invalid for parameter: capture_strategy</td>\n  </tr>\n  <tr>\n\
    \    <td><code>card_decline_rate_limit_exceeded</code></td>\n    <td>This card\
    \ has been declined too many times. You can try to charge this card again after\
    \ 24 hours. We suggest reaching out to your customer to make sure they have entered\
    \ all of their information correctly and that there are no issues with their card.</td>\n\
    \  </tr>\n  <tr>\n    <td><code>card_declined</code></td>\n    <td>The card has\
    \ been declined. When a card is declined, the error includes a decline_code attribute\
    \ specifying the reason for the decline, and a network_decline_code provided by\
    \ the card network, if available.</td>\n  </tr>\n  <tr>\n    <td><code>card_name_required</code></td>\n\
    \    <td>Missing required parameter: card_name</td>\n  </tr>\n  <tr>\n    <td><code>card_number_invalid</code></td>\n\
    \    <td>Format is invalid for parameter: card_number</td>\n  </tr>\n  <tr>\n\
    \    <td><code>card_number_required</code></td>\n    <td>Missing required parameter:\
    \ card_number</td>\n  </tr>\n  <tr>\n    <td><code>charge_expired_for_capture</code></td>\n\
    \    <td>The charge cannot be captured as the authorization has expired. Auth\
    \ and capture charges must be captured within 7 days.</td>\n  </tr>\n  <tr>\n\
    \    <td><code>country_invalid</code></td>\n    <td>Format is invalid for parameter:\
    \ country</td>\n  </tr>\n  <tr>\n    <td><code>currency_invalid</code></td>\n\
    \    <td>Format is invalid for parameter: currency</td>\n  </tr>\n  <tr>\n   \
    \ <td><code>currency_required</code></td>\n    <td>Missing required parameter:\
    \ currency</td>\n  </tr>\n  <tr>\n    <td><code>customer_id_required</code></td>\n\
    \    <td>Missing required parameter: customer_id</td>\n  </tr>\n  <tr>\n    <td><code>customer_max_payment_methods</code></td>\n\
    \    <td>The maximum number of PaymentMethods for this Customer has been reached.\
    \ Either detach some PaymentMethods from this Customer or proceed with a different\
    \ Customer.</td>\n  </tr>\n  <tr>\n    <td><code>email_invalid</code></td>\n \
    \   <td>The email address is invalid (e.g., not properly formatted). Check that\
    \ the email address is properly formatted and only includes allowed characters.</td>\n\
    \  </tr>\n  <tr>\n    <td><code>email_required</code></td>\n    <td>Missing required\
    \ parameter: email</td>\n  </tr>\n  <tr>\n    <td><code>expired_card</code></td>\n\
    \    <td>The card has expired. Please check the expiration date or try a different\
    \ card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>gateway_account_id_required</code></td>\n\
    \    <td>Missing required parameter: gateway_account_id</td>\n  </tr>\n  <tr>\n\
    \    <td><code>gateway_authentication_error</code></td>\n    <td>The payment network\
    \ returned an authentication error</td>\n  </tr>\n  <tr>\n    <td><code>gateway_error</code></td>\n\
    \    <td>There was an issue processing your payment with the gateway. Please try\
    \ again later.</td>\n  </tr>\n  <tr>\n    <td><code>gateway_idempotency_error</code></td>\n\
    \    <td>The gateway detected concurrent requests using this idempotency key</td>\n\
    \  </tr>\n  <tr>\n    <td><code>gateway_rate_limit_error</code></td>\n    <td>Too\
    \ many requests hit the API too quickly. We recommend an exponential back-off\
    \ of your requests.</td>\n  </tr>\n  <tr>\n    <td><code>gateway_ref_id_required</code></td>\n\
    \    <td>Missing required parameter: gateway_ref_id</td>\n  </tr>\n  <tr>\n  \
    \  <td><code>gateway_timeout_error</code></td>\n    <td>There was a timeout with\
    \ the gateway, we recommend retrying using the Should-Retry header</td>\n  </tr>\n\
    \  <tr>\n    <td><code>idempotency_concurrent_request</code></td>\n    <td>We\
    \ detected concurrent requests using this idempotency key</td>\n  </tr>\n  <tr>\n\
    \    <td><code>idempotency_key_required</code></td>\n    <td>Idempotency-Key is\
    \ a required header</td>\n  </tr>\n  <tr>\n    <td><code>idempotency_params_mismatch</code></td>\n\
    \    <td>The request parameters do not match those of a previous request using\
    \ this idempotency key</td>\n  </tr>\n  <tr>\n    <td><code>idempotency_request_in_progress</code></td>\n\
    \    <td>Another request using this idempotency key is currently in progress</td>\n\
    \  </tr>\n  <tr>\n    <td><code>internal_server_error</code></td>\n    <td>An\
    \ unexpected error has occurred. JustiFi engineers will investigate the error\
    \ and contact you if any remediation steps are necessary.</td>\n  </tr>\n  <tr>\n\
    \    <td><code>invalid_address</code></td>\n    <td>The card\u2019s address is\
    \ incorrect. Please check the address or try a different card or payment method.</td>\n\
    \  </tr>\n  <tr>\n    <td><code>invalid_card_number</code></td>\n    <td>The card\u2019\
    s number is incorrect. Please check the number or try a different card or payment\
    \ method.</td>\n  </tr>\n  <tr>\n    <td><code>invalid_card_brand</code></td>\n\
    \    <td>The card\u2019s brand is not supported. Please use Visa, Mastercard,\
    \ American Express, or Discover, or try a different payment method.</td>\n  </tr>\n\
    \  <tr>\n    <td><code>invalid_characters</code></td>\n    <td>This value provided\
    \ to the field contains characters that are unsupported by the field.</td>\n \
    \ </tr>\n  <tr>\n    <td><code>invalid_charge_amount</code></td>\n    <td>Your\
    \ transaction was declined because the payment amount is outside the limits set\
    \ by your card issuer. Please try a different card or payment method.</td>\n \
    \ </tr>\n  <tr>\n    <td><code>invalid_cvc</code></td>\n    <td>The card\u2019\
    s security code is incorrect. Please check the security code or try a different\
    \ card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>invalid_expiry_month</code></td>\n\
    \    <td>The card\u2019s expiration month is incorrect. Please check the expiration\
    \ date or try a different card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>invalid_expiry_year</code></td>\n\
    \    <td>The card\u2019s expiration year is incorrect. Please check the expiration\
    \ date or try a different card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>invalid_expiry_date</code></td>\n\
    \    <td>The provided expiration date is invalid. Please check the expiration\
    \ date or try a different card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>invalid_zip_code</code></td>\n\
    \    <td>The card\u2019s postal code is incorrect. Please check the postal code\
    \ or try a different card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>month_invalid</code></td>\n\
    \    <td>Format is invalid for parameter: month</td>\n  </tr>\n  <tr>\n    <td><code>not_authenticated</code></td>\n\
    \    <td>Not authenticated</td>\n  </tr>\n  <tr>\n    <td><code>not_authorized</code></td>\n\
    \    <td>Not authorized</td>\n  </tr>\n  <tr>\n    <td><code>parameter_missing</code></td>\n\
    \    <td>Missing required parameter</td>\n  </tr>\n  <tr>\n    <td><code>payment_fully_refunded</code></td>\n\
    \    <td>The refund cannot be processed because the associated payment is fully\
    \ refunded</td>\n  </tr>\n  <tr>\n    <td><code>payment_intent_cannot_be_captured</code></td>\n\
    \    <td>Payment Intent status is '%{status}' so it cannot be captured</td>\n\
    \  </tr>\n  <tr>\n    <td><code>payment_intent_not_found</code></td>\n    <td>Payment\
    \ intent not found</td>\n  </tr>\n  <tr>\n    <td><code>payment_intent_unexpected_state</code></td>\n\
    \    <td>You cannot provide a new payment method to a PaymentIntent when it has\
    \ a status of requires_capture, canceled, or succeeded</td>\n  </tr>\n  <tr>\n\
    \    <td><code>payment_method_not_found</code></td>\n    <td>Payment method not\
    \ found</td>\n  </tr>\n  <tr>\n    <td><code>payment_method_required</code></td>\n\
    \    <td>Missing required parameter: payment_method</td>\n  </tr>\n  <tr>\n  \
    \  <td><code>payment_method_token_required</code></td>\n    <td>Missing required\
    \ parameter: payment_method_token</td>\n  </tr>\n  <tr>\n    <td><code>payment_outside_refund_window</code></td>\n\
    \    <td>The refund cannot be processed because the associated payment is outside\
    \ the refund window</td>\n  </tr>\n  <tr>\n    <td><code>postal_code_invalid</code></td>\n\
    \    <td>Format is invalid for parameter: postal_code</td>\n  </tr>\n  <tr>\n\
    \    <td><code>refund_error</code></td>\n    <td>An error occurred during refunding\
    \ your payment, JustiFi engineers have been alerted and are working on a solution</td>\n\
    \  </tr>\n  <tr>\n    <td><code>refund_exceeds_amount_available</code></td>\n\
    \    <td>The refund cannot be processed because the refund amount exceeds the\
    \ available funds</td>\n  </tr>\n  <tr>\n    <td><code>refund_exceeds_payment_amount</code></td>\n\
    \    <td>The refund cannot be processed because the refund amount exceeds the\
    \ associated payment amount</td>\n  </tr>\n  <tr>\n    <td><code>refund_reason_invalid</code></td>\n\
    \    <td>Refund reason must be one of the following: %{Refund::REASONS}</td>\n\
    \  </tr>\n  <tr>\n    <td><code>resource_not_found</code></td>\n    <td>Resource\
    \ not found</td>\n  </tr>\n  <tr>\n    <td><code>state_invalid</code></td>\n \
    \   <td>Format is invalid for parameter: state</td>\n  </tr>\n  <tr>\n    <td><code>token_already_used</code></td>\n\
    \    <td>The token provided has already been used. You must create a new token\
    \ before you can retry this request.</td>\n  </tr>\n  <tr>\n    <td><code>token_in_use</code></td>\n\
    \    <td>The token provided is currently being used in another request. This occurs\
    \ if your integration is making duplicate requests simultaneously.</td>\n  </tr>\n\
    \  <tr>\n    <td><code>transfer_required</code></td>\n    <td>Missing required\
    \ parameter: transfer</td>\n  </tr>\n  <tr>\n    <td><code>unexpected_parameter</code></td>\n\
    \    <td>Unexpected parameter for this request</td>\n  </tr>\n  <tr>\n    <td><code>verification_invalid</code></td>\n\
    \    <td>Format is invalid for parameter: verification</td>\n  </tr>\n  <tr>\n\
    \    <td><code>year_invalid</code></td>\n    <td>Format is invalid for parameter:\
    \ year</td>\n  </tr>\n  <tr>\n    <td><code>service_not_allowed</code></td>\n\
    \    <td>This account is not permitted to process the type of transaction being\
    \ requested, or the surcharge amount is invalid</td>\n  </tr>\n  <tr>\n    <td><code>do_not_honor</code></td>\n\
    \    <td>This card has been rejected by the issuing bank. Please try a different\
    \ card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>do_not_retry</code></td>\n\
    \    <td>This card has been rejected. Please try a different card or payment method.</td>\n\
    \  </tr>\n  <tr>\n    <td><code>refund_in_progress</code></td>\n    <td>A refund\
    \ for this payment is already in progress</td>\n  </tr>\n  <tr>\n    <td><code>invalid_sub_account</code></td>\n\
    \    <td>The sub account cannot process a payment for this card. Please contact\
    \ customer support.</td>\n  </tr>\n  <tr>\n    <td><code>new_card_issued</code></td>\n\
    \    <td>The transaction was denied because the issuing bank has issued a new\
    \ card. Please try a different card or payment method.</td>\n  </tr>\n  <tr>\n\
    \    <td><code>account_closed</code></td>\n    <td>The account associated with\
    \ this payment method is been closed. Please try a different card or payment method.</td>\n\
    \  </tr>\n  <tr>\n    <td><code>restricted_card</code></td>\n    <td>This card\
    \ has a restriction preventing approval for this transaction. Please try a different\
    \ card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>restricted_card</code></td>\n\
    \    <td>This card has a restriction preventing approval for this transaction.\
    \ Please try a different card or payment method.</td>\n  </tr>\n  <tr>\n    <td><code>insufficient_funds</code></td>\n\
    \    <td>This card has insufficient funds. Please try a different card or payment\
    \ method.</td>\n  </tr>\n  <tr>\n    <td><code>exceeds_card_limit</code></td>\n\
    \    <td>The payment amount would exceed a limit placed on this card.</td>\n \
    \ </tr>\n  <tr>\n    <td><code>pin_tries_exceeded</code></td>\n    <td>The number\
    \ of PIN retries has been exceeded.</td>\n  </tr>\n  <tr>\n    <td><code>incorrect_pin</code></td>\n\
    \    <td>The entered PIN is incorrect.</td>\n  </tr>\n  <tr>\n    <td><code>pin_required</code></td>\n\
    \    <td>A PIN is required.</td>\n  </tr>\n  <tr>\n    <td><code>payment_outside_void_window</code></td>\n\
    \    <td>The void cannot be processed because the associated payment is outside\
    \ the void window. Try a refund instead.</td>\n  </tr>\n  <tr>\n    <td><code>issuer_not_available</code></td>\n\
    \    <td>The card issuer is not available. Please try again later.</td>\n  </tr>\n\
    \  <tr>\n    <td><code>amount_too_small</code></td>\n    <td>The specified amount\
    \ is less than the minimum amount allowed. Use a higher amount and try again.</td>\n\
    \  </tr>\n  <tr>\n    <td><code>amount_too_large</code></td>\n    <td>The specified\
    \ amount is less than the minimum amount allowed. Use a higher amount and try\
    \ again.</td>\n  </tr>\n  <tr>\n    <td><code>gateway_error_please_retry</code></td>\n\
    \    <td>There was a temporary issue processing this payment. Please try again.</td>\n\
    \  </tr>\n</table>\n\n## Network Errors\nWe provide the network error code, and\
    \ the network error category to help inform you how to handle a decline. These\
    \ are only returned when a transaction fails while trying to process on the card\
    \ network. Please take a look at each section. The network error category is especially\
    \ relevant for recurring payments. It can reduce retries on transactions which\
    \ will never succeed.\n\n### Network Error Codes\n\nIn addition to the standard\
    \ error codes provided by JustiFi, some errors may include a `network_error_code`\
    \ that provides more specific information about the error from the payment network.\
    \ Here's a list of common `network_error_code` values and their meanings:\n\n\
    | Code | Description | Customer Impact & Suggested Actions |\n|------|--------------|--------------------------------------|\n\
    | 005  | Do not honor (Declined by card association) | The payment was declined\
    \ by the card association. The customer should try a different payment method\
    \ or contact the card issuer for more information. |\n| 100  |  Do not honor (Declined\
    \ by card association) | The payment was declined by the card association. The\
    \ customer should try a different payment method or contact the card issuer for\
    \ more information. |\n| 101  | Expired card | The provided card has expired.\
    \ The customer needs to update with a new, non-expired card or provide a different\
    \ payment method. |\n| 102  | Suspected Fraud | The payment was flagged as potentially\
    \ fraudulent activity. The customer should contact the card issuer to verify the\
    \ transaction. |\n| 104  | Restricted card | The provided card is restricted and\
    \ cannot be used for this transaction type. The customer needs to use a different\
    \ payment method or contact the card issuer. |\n| 106  | Allowable PIN tries exceeded\
    \ | The maximum allowable PIN entry attempts have been exceeded. The customer\
    \ should verify the PIN and try again, or use a different payment method. |\n\
    | 110  | Invalid amount | The payment amount entered is invalid. The customer\
    \ needs to recheck the amount and retry the transaction. |\n| 116  | Not sufficient\
    \ funds | There are insufficient funds in the account to cover this payment. The\
    \ customer should add funds to the account or use a different payment method.\
    \ |\n| 117  | Incorrect PIN or PIN length error | The entered PIN is incorrect\
    \ or has an invalid length. The customer should re-enter the correct PIN and try\
    \ again. |\n| 119  | Transaction not permitted to cardholder | This transaction\
    \ is not permitted for the provided card/account. The customer should contact\
    \ the card issuer or use a different payment method. |\n| 121  | Exceeds withdrawal\
    \ amount limit | The payment amount exceeds the maximum allowed withdrawal limit.\
    \ The customer should try a smaller amount or use a different payment method.\
    \ |\n| 122  | Security violation | A security violation was detected with this\
    \ payment. The customer should contact the card issuer for assistance. |\n| 123\
    \  | Exceeds withdrawal frequency limit | The maximum number of allowed withdrawals\
    \ within the set time period has been exceeded. The customer should try again\
    \ later or use a different payment method. |\n| 124  | Violation of law | This\
    \ payment violates applicable laws or regulations and cannot be processed. The\
    \ customer needs to use a different payment method. |\n| 129  | Suspected counterfeit\
    \ card | The card has been flagged as potentially counterfeit. The customer should\
    \ contact the card issuer immediately. |\n| 131  | Invalid account number | The\
    \ provided account number is invalid. The customer needs to verify the account\
    \ details and try again with the correct information. |\n| 132  | Unmatched card\
    \ expiry date | The provided expiration date does not match the card issuer's\
    \ records. The customer should confirm the correct expiry date and retry. |\n\
    | 134  | Not sufficient funds | There are insufficient funds in the account to\
    \ cover this payment. The customer should add funds to the account or use a different\
    \ payment method. |\n| 152  | Exceeds limit | The payment amount exceeds the maximum\
    \ limit allowed. The customer should try a smaller amount or use a different payment\
    \ method. |\n| 154  | Over monthly limit | The maximum monthly payment limit has\
    \ been exceeded. The customer should try again next month or use a different payment\
    \ method. |\n| 208  | Lost Card / Lost Check | The card or check was reported\
    \ as lost. The customer needs to use a different, valid payment method. |\n| 209\
    \  | Stolen card | The card was reported as stolen. The customer should contact\
    \ the card issuer immediately and use a different payment method. |\n| 213  |\
    \ Invalid account number for card type | The provided account number is invalid\
    \ for the specified card type. The customer needs to verify the account details\
    \ and retry with the correct information. |\n| 231  | Stop payment requested for\
    \ all payments | A stop payment has been requested on this account, so no payments\
    \ can be processed. The customer should contact the card issuer for assistance.\
    \ |\n| 232  | Stop all payments \u2013 account closed | This account has been\
    \ closed, so no payments can be processed. The customer needs to use a different\
    \ payment method or contact support to update the account details. |\n| 237  |\
    \ Deny \u2013 new card issued | A new card has been issued for this account. The\
    \ customer needs to update the payment method with the new card details and retry.\
    \ |\n| 302  | Account closed | The account the customer is trying to pay from\
    \ is closed and cannot be used. The customer needs to update with a different,\
    \ valid payment method. |\n| 317  | Max balance exceeded | This payment would\
    \ cause the account balance to exceed the maximum allowed limit. The customer\
    \ should try a smaller amount or use a different payment method. |\n| 351  | Customer\
    \ PIN authentication required | The customer must authenticate this payment by\
    \ entering the PIN. The customer should follow the prompts to complete PIN authentication.\
    \ |\n| 414  | Void/Full Reversal request unable to process due to network cut-off\
    \ window elapsed | The void or reversal request could not be processed because\
    \ the network cut-off time has passed. A refund may be required instead. |\n|\
    \ 503  | New Account Information | New account information is available for this\
    \ payment method. The customer needs to update the account details and retry the\
    \ payment. |\n| 504  | Do not try again | This payment was declined and should\
    \ not be retried with this payment method. The customer needs to use an alternative\
    \ method. |\n| 505  | Please retry | There was a temporary issue processing this\
    \ payment. The customer should retry the same payment again. |\n| 512  | Service\
    \ not allowed or invalid surcharge amount | This service or surcharge amount is\
    \ not permitted for the account. The customer needs to verify the account details\
    \ or try a different payment type. |\n| 516  | Please retry \u2013 Reasons include:\
    \ Format Error, Unable to route transaction, Switch or issuer unavailable, System\
    \ Busy, Timeout | A temporary issue caused this payment to fail, the customer\
    \ should retry. If it continues to fail, the card issuer should be contacted.\
    \ |\n| 517  | CVV2 Declined | The entered CVV2/CVC security code was declined.\
    \ The customer should verify the code and retry with the correct information.\
    \ |\n| 531  | Retry with 3DS data - 3D Secure authentication is required for this\
    \ transaction, but not supported at this time | This card requires 3D Secure authentication\
    \ which is not currently supported. The customer should use an alternative payment\
    \ method or contact the card issuer. |\n| 528  | Debit/EBT transaction count exceeds\
    \ pre-determined limit in specified time/ Withdrawal limit exceeded | The maximum\
    \ allowed debit/EBT transaction count or withdrawal limit for the given time period\
    \ has been exceeded. The customer should try again later or use a different payment\
    \ method. |\n| 902  | Invalid Transaction | The payment transaction data was invalid\
    \ and could not be processed. The customer needs to verify the payment details\
    \ and retry. |\n| 907  | Card issuer or switch inoperative or processor not available\
    \ | There was an issue with the card issuer's systems or payment processor during\
    \ this transaction. The customer should retry later or use another payment method.\
    \ |\n\n### Network Error Category\nBoth Visa and Mastercard send additional information\
    \ about how to handle a declined payment for recurring payments. Effective May\
    \ 30th, 2025 we pass through this information to help handle failures. We have\
    \ added the `network` and `network_error_category` attributes to declined payments,\
    \ when we get the additional information from the card networks. We are working\
    \ on further classification of errors, for now please only respond to those documented\
    \ here.\n\n| network | network_error_category | Definition |\n|------|--------------|--------------------------------------|\n\
    | VISA | 1 | Issuer will never approve. Do not attempt again. This indicates the\
    \ card is invalid, never existed or block. Cardholders can contact their bank\
    \ for more information. |\n| VISA | 2 | Issuer cannot approve at this time. They\
    \ may try again at another time. This could be related to credit risk, velocity\
    \ controls, or system issues. |\n| VISA | 3 | Issuer cannot approve based on the\
    \ details provided. This might be an invalid cvv, expiration date, etc. Do not\
    \ try again without attempting to obtain additional information. |\n| VISA | R00/R01\
    \ | Recurring payment not allowed on card. Do not attempt again. |\n| MASTERCARD\
    \ | 01 | Updated information needed. Similar to Visa code 3. |\n| MASTERCARD |\
    \ 02 | Try again later. Similar to Visa code 2. |\n| MASTERCARD | 03 | Do not\
    \ try again.  Do not attempt again. Similar to Visa code 1. |"
  version: v1
  title: JustiFi API Documentation
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
tags:
- name: Payments
  description: 'To charge a payment method the desired amount, you''ll use a payment.

    You can choose whether to charge a payment method that''s already been

    tokenized or tokenize a new one when you create the payment.

    If a payment fails, the status will reflect it and an error code will be returned.

    You can retrieve information about your payments and refund them if needed.

    '
- name: Payment Intents (use checkouts)
  description: '**We no longer allow new platforms to use this API. Use the [Checkout
    API](https://docs.justifi.tech/api-spec#tag/Checkouts) instead. This API will
    be retired in the future as existing integrators migrate.**


    *Note: Payment Intents do NOT support dynamic fees. A platform may set a custom
    application fee amount that applies to a payment using [Create a Payment](https://docs.justifi.tech/api-spec#tag/Payments/operation/CreatePayment)
    directly.*

    '
- name: Payment Methods
  description: 'Payment methods refer to the specific form of payment each customer
    uses

    (e.g. their credit card). Payment methods are tokenized, then charged at time
    of payment.

    '
- name: Tokenize via Component
  description: "The Tokenize Payment Method web component allows you to securely collect\
    \ your customers' credit card and ACH (bank accout) payment methods without any\
    \ sensitive data entering your system. \n\nThe following guide takes you through\
    \ the few simple steps of integrating the [Tokenize Payment Method web component](https://storybook.justifi.ai/?path=/docs/payment-facilitation-tokenize-payment-method--docs)\
    \ on your platform. We assume you have an activated sub account for payment processing.\n\
    \n*Note: If you want to charge a payment at time of payment method tokenization\
    \ consider using the [Unified Fintech Checkout\u2122 web component](https://docs.justifi.tech/api-spec#tag/Checkout-via-Component)\
    \ instead.*\n\n1. Get an access token\n2. Generate a web component token\n3. Render\
    \ the web component\n4. Handle success/failure events\n5. Listen to payment method\
    \ events\n\n\n### Get an access token\nOn your backend, using your client id and\
    \ client secret from the Developer > API keys section of the JustiFi dashboard,\
    \ generate an [access token](https://docs.justifi.tech/api-spec#tag/API-Credentials/operation/CreateAccessToken).\n\
    \n```\nfunction getToken() {\n  return fetch('https://api.justifi.ai/oauth/token',\
    \ {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json'\n\
    \    },\n    body: JSON.stringify({\n      \"client_id\": \"YOUR CLIENT ID\",\n\
    \      \"client_secret\": \"YOUR CLIENT SECRET\"\n    })\n  })\n    .then(response\
    \ => response.json())\n    .then(data => data.access_token);\n}\n\nconst token\
    \ = await getToken();\n```\n\n### Generate a web component token\nTo render the\
    \ web component you need to generate a web component token. This is a short lived\
    \ token which is meant to grant short term, fine grained access. The Tokenize\
    \ Payment Method web component requires the role of `write:tokenize:{accountId}`\
    \ with the sub account id you are saving the payment method for. \n\n*Note: Consider\
    \ setting up a [Platform Wallet Account](https://docs.justifi.tech/api-spec#tag/Platform-Wallet-Accounts)\
    \ if your customers will use payment methods accross different sub accounts on\
    \ your platform.*\n```\nasync function getWebComponentToken(token, accountId)\
    \ {\n  const response = await fetch('https://api.justifi.ai/v1/web_component_tokens',\
    \ {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n\
    \      'Authorization': `Bearer ${token}`\n    },\n    body: JSON.stringify({\n\
    \      \"resources\": [`write:tokenize:${accountId}]\n    })\n  });\n  const data\
    \ = await response.json();\n  return data.access_token;\n}\n\nconst webComponentToken\
    \ = await getWebComponentToken(token, subAccountId);\n```\n\n### Render the web\
    \ component\nUse the web component token generated above and the sub account id\
    \ passed to the web component token API to render the [Tokenize Payment Method\
    \ web component](https://storybook.justifi.ai/?path=/docs/payment-facilitation-tokenize-payment-method--docs).\
    \ This will allow you to collect a customer's credit card or ACH payment method.\
    \ It will not process a payment.\n\n```\n<justifi-tokenize-payment-method auth-token=\"\
    ${webComponentToken}\" account-id=\"${subAccountId}\"></justifi-tokenize-payment-method>\n\
    ```\n\n### Handle success/failure events\nThe web component will emit a `submitted`\
    \ event when a payment method is submitted. This event will contain the response\
    \ of the [Create Payment Method API](https://docs.justifi.tech/api-spec#tag/Payment-Methods/operation/CreatePaymentMethod)\
    \ which includes the payment method `token` attribute.\nTo charge a payment to\
    \ the newly tokenized payment method pass this token as payment method token to\
    \ the [Payments API](https://docs.justifi.tech/api-spec#tag/Payments/operation/CreatePayment).\
    \ \n\nAn `error` event means there was an issue with the Tokenize Payment Method\
    \ web component, connecting to the network, etc.\n\n```\n<script>\n  const justifiTokenizePaymentMethod\
    \ = document.querySelector('justifi-tokenize-payment-method');\n  justifiTokenizePaymentMethod.addEventListener('submit-event',\
    \ (event) => {\n    console.log('Submitted data:', event.detail);\n  });\n  justifiTokenizePaymentMethod.addEventListener('error-event',\
    \ (event) => {\n    console.error('error-event:', event.detail);\n  });\n</script>\n\
    ```\n\nAt this point, the payment method has been tokenized and can be used for\
    \ future payments!\n\n### Listen to payment method events\nIn addition to the\
    \ web component events you can listen to [payment method specific events](https://docs.justifi.tech/api-spec#tag/Events)\
    \ via event publisher. To set up an event publisher go to the Developer > Event\
    \ Pubslisher section of the JustiFi dashboard. "
- name: Payment Method Groups
  description: 'Payment method groups are a way to associate payment methods to a
    single group for easy access.

    '
- name: Refunds
  description: 'When you refund a payment, a refund object is created. You can retrieve

    information about the refunds you''ve issued.

    '
- name: Disputes
  description: 'A customer may dispute their payment with the card issuer/bank if
    they believe

    the charge is erroneous. When this happens, a dispute record is created and

    associated with their original payment.

    '
- name: Payouts
  description: 'Each day, a payout containing that day''s funds is automatically created
    for the

    purpose of distributing those funds to the active bank account. Payout amounts
    are calculated by

    summing the associated balance transactions for that specific day.


    Payouts are processed each day at 11:30am US/Central time. A Platform can also
    configure each

    sub account to have an expedited payout priority. If this is enabled, the payout
    will be settled on the

    day the payout is generated. Otherwise, standard payouts will settle the next
    business day.

    '
- name: Balance Transactions
  description: 'Balance transactions are the reflection of any movement of funds that
    affects the balance of an account.

    Oftentimes, a single financial transaction (like a payment) will result in the
    creation of many balance

    transactions in order to document the flow of funds between multiple accounts.
    Other financial transactions

    that result in balance transactions include refunds, disputes, and payouts.

    '
- name: Ach Return Fees
  description: 'ACH return fees are fees charged by financial institutions when an
    ACH (Automated Clearing House) transaction

    is returned due to insufficient funds or other reasons.

    If an ACH transaction is returned for any reason, the financial institution may
    charge a fee to the sender of the transaction.

    These fees can vary depending on the policies of the financial institution and
    the reason for the return.

    '
- name: Sub Accounts
  description: 'Sub Accounts are the representation of your platform''s customers
    for payment processing in JustiFi and are associated with your platform account.

    To gain approval for payment processing each of your customers need to be onboarded
    as a business via [web compoenent](https://docs.justifi.tech/api-spec#tag/Onboarding-via-Component),
    [hosted onboarding](https://docs.justifi.tech/api-spec#tag/Hosted-Onboarding)
    or [API](https://docs.justifi.tech/api-spec#tag/Onboarding-via-API).

    During the onboarding process a sub account is automatically created for each
    business and updated along the way.

    Payments can be processed through a sub account once it''s status is `enabled`.

    | Status             | Description |

    | -----------        | ----------- |

    | created            | this sub account has been created (via Sub Accounts API),
    but we haven''t received their onboarding entry yet |

    | submitted          | we''ve received this sub account''s onboarding entry (via
    hosted onboarding or API) and we''re reviewing their information |

    | information_needed | we reviewed this sub account''s onboarding entry and found
    an issue; we need more information before we can enable this account |

    | enabled            | this sub account is approved to process payments _note:
    test accounts are automatically enabled_ |

    | rejected           | this sub account didn''t pass approval, so they won''t
    be able to process payments |

    | disabled           | this sub account was previously approved, but has since
    become ineligible to process payments (e.g. due to fraud) |

    | archived           | this sub account has been archived; they won''t be able
    to process payments (but their record will remain for historical reasons) |

    '
- name: Platform Wallet Accounts
  description: "A Platform Wallet Account allows you to store payment methods centrally\
    \ and use them across multiple sub accounts within your platform.\nThis feature\
    \ enables you to maintain a single source of stored payment methods while processing\
    \ payments through different sub accounts.\n\n## Enable a Platform Wallet Account\n\
    *Note: You can choose a sub account as your platform_wallet_account once it is\
    \ underwritten and enabled for payments.*\n\nContact us at [customer_success@justifi.tech](mailto:customer_success@justifi.tech)\
    \ to enable the `platform_wallet_account` setting for your designated platform\
    \ wallet account.\n\n## Key Features\nOnce enabled, you can:\n- Store payment\
    \ methods in the designated platform wallet account\n- Use these payment methods\
    \ across your platform's sub accounts\n- Group payment methods for easier management\
    \ using [PaymentMethodGroups](https://docs.justifi.tech/api-spec#tag/Payment-Method-Groups),\
    \ to associate multiple payment methods to your customer\n\n## Using Platform\
    \ Wallet Payment Methods\n*Note: While the PaymentMethods and Payments API allow\
    \ you to tokenize a payment method we strongly suggest using the [Unified Fintech\
    \ Checkout](https://storybook.justifi.ai/?path=/docs/payment-facilitation-unified-fintech-checkout%E2%84%A2--docs)\
    \ or [Tokenize Payment Method](https://storybook.justifi.ai/?path=/docs/payment-facilitation-tokenize-payment-method--docs)\
    \ web components instead to avoid PCI scope*\n\n### 1. Manage Payment Methods\n\
    Create and organize payment methods in your platform wallet account. All payment\
    \ method operations require the platform wallet account ID in the Sub-Account\
    \ header.\n\n```\n// Example: Create payment method group\nconst group = await\
    \ fetch('https://api.justifi.ai/v1/payment_method_groups', {\n  method: 'POST',\n\
    \  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Sub-Account': platformWalletAccountId,\
    \  // Platform wallet account\n    'Content-Type': 'application/json'\n  }\n});\n\
    \n// Example: Add payment methods to group\nconst updatedGroup = await fetch(`https://api.justifi.ai/v1/payment_method_groups/${groupId}`,\
    \ {\n  method: 'PATCH',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n\
    \    'Sub-Account': platformWalletAccountId,  // Platform wallet account\n   \
    \ 'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"payment_method_ids\"\
    : [\"pm_walletaccxyz\", \"pm_walletaccabc\"]\n  })\n});\n```\n\n### 2. Process\
    \ Payments\nYou can process payments using wallet payment methods either through\
    \ the [Unified Fintech Checkout web component](https://storybook.justifi.ai/?path=/docs/payment-facilitation-unified-fintech-checkout%E2%84%A2--docs)\
    \ or via API\n\n#### Via Checkout Component\n[Checkout via Component Walkthrough](https://docs.justifi.tech/api-spec#tag/Checkout-via-Component)\n\
    ```\n// Create checkout\nconst checkout = await fetch('https://api.justifi.ai/v1/checkouts',\
    \ {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n\
    \    'Sub-Account': processingSubAccountId,  // Processing sub account\n    'Content-Type':\
    \ 'application/json'\n  },\n  body: JSON.stringify({\n    \"amount\": 1799,\n\
    \    \"description\": \"Example item\",\n    \"payment_method_group_id\": \"pmg_walletGroupId\"\
    , // Group from wallet account\n    \"origin_url\": \"http://localhost:3000\"\
    \  // Required for component\n  })\n});\n\n// Render component\n<justifi-checkout\n\
    \  auth-token=\"${webComponentToken}\"\n  checkout-id=\"${checkout.id}\">\n</justifi-checkout>\n\
    ```\n\n#### Via API\n```\n// Create checkout\nconst checkout = await fetch('https://api.justifi.ai/v1/checkouts',\
    \ {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n\
    \    'Sub-Account': processingSubAccountId,  // Processing sub account\n    'Content-Type':\
    \ 'application/json'\n  },\n  body: JSON.stringify({\n    \"amount\": 1799,\n\
    \    \"description\": \"Example item\",\n    \"payment_method_group_id\": \"pmg_walletGroupId\"\
    \ // Group from wallet account\n  })\n});\n\n// Complete checkout with wallet\
    \ payment method\nconst completion = await fetch(`https://api.justifi.ai/v1/checkouts/${checkoutId}/complete`,\
    \ {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n\
    \    'Sub-Account': processingSubAccountId,  // Processing sub account\n    'Content-Type':\
    \ 'application/json'\n  },\n  body: JSON.stringify({\n    \"payment_token\": \"\
    pm_walletPaymentMethodToken\"\n  })\n});\n```\n\n## Updating Wallet Payment Methods\n\
    - You can update a payment method via the [payment methods API](https://docs.justifi.tech/api-spec#tag/Payment-Methods/operation/UpdatePaymentMethod)\n\
    - Updates should always be made to the payment method in the platform wallet account\n\
    - Any changes made to the platform wallet payment method automatically propagate\
    \ to all cloned payment methods across sub accounts\n- Available update options\
    \ include:\n  - Card expiration date\n  - Payment method metadata\n- The system\
    \ maintains consistency by:\n  - Automatically syncing updates to all cloned versions\
    \ of the payment method\n\n## Important Notes\n- Header Requirements:\n  - Use\
    \ **platform wallet account ID** for:\n    - Creating/managing payment methods\n\
    \    - Creating/managing payment method groups\n  - Use **processing sub account\
    \ ID** for:\n    - Creating checkouts\n    - Completing payments\n- The system\
    \ automatically:\n  - Validates wallet payment method access\n  - Creates payment\
    \ method clones for processing sub accounts\n  - Returns new sub account specific\
    \ tokens in responses\n- All sub accounts must be on the same platform as the\
    \ platform wallet account\n\nFor complete details on specific endpoints, see:\n\
    - [Checkout via Component](https://docs.justifi.tech/api-spec#tag/Checkout-via-Component)\n\
    - [Checkout via API](https://docs.justifi.tech/api-spec#tag/Checkouts/operation/CreateCheckout)\n\
    - [Payments API](https://docs.justifi.tech/api-spec#tag/Payments/operation/CreatePayment)\n"
- name: Onboarding via Component
  description: "In order to process payments, each of your customers must be onboarded\
    \ on the JustiFi platform. Once they are added they go through an approval process.\
    \ JustiFi's [PaymentProvisioning web component](https://storybook.justifi.ai/?path=/docs/entities-payment-provisioning--docs)\
    \ allows you to collect the required business and financial information from each\
    \ of your customers. Once approved, your customer can process payments through\
    \ JustiFi.\n\nTo onboard a new business via PaymentProvisioning web component\n\
    \n1. Get an access token\n2. Create a business\n3. Generate a Web Component Token\n\
    4. Render the PaymentProvisioning web component\n5. Handle success/failure events\
    \ of the web component\n6. Check the sub account's status\n\n\n### Get an access\
    \ token\nOn your backend, using your client id and client secret from the Developer\
    \ > API keys section of the JustiFi dashboard, generate an [access token](https://docs.justifi.tech/api-spec#tag/API-Credentials/operation/CreateAccessToken).\n\
    \n```\nfunction getToken() {\n  return fetch('https://api.justifi.ai/oauth/token',\
    \ {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json'\n\
    \    },\n    body: JSON.stringify({\n      \"client_id\": \"YOUR CLIENT ID\",\n\
    \      \"client_secret\": \"YOUR CLIENT SECRET\"\n    })\n  })\n  .then(response\
    \ => response.json())\n  .then(data => data.access_token);\n}\n\nconst token =\
    \ await getToken();\n```\n\n### Create a Business\nFrom your backend create a\
    \ business using the [Business API](https://docs.justifi.tech/api-spec#tag/Business/operation/CreateBusiness).\
    \ A business only requires one parameter (e.g. `legal_name`) but you can pass\
    \ as much information about your customer as you have. When you render the web\
    \ component all the data you passed to the business will be pre-filled in the\
    \ form and can be updated by your customer. \n```\nasync function createBusiness(token)\
    \ {\n  const response = await fetch('https://api.justifi.ai/v1/entities/business',\
    \ {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n\
    \      'Authorization': `Bearer ${token}`\n    },\n    body: JSON.stringify({\n\
    \      \"legal_name\": \"First Business\"\n    })\n  });\n  const data = await\
    \ response.json();\n  return data;\n}\n\nconst business = await createBusiness(token);\n\
    ```\n\n### Generate a Web Component Token\nTo render the PaymentProvisioning web\
    \ component, you must generate a web component token. This is a short lived token\
    \ which is meant to grant short term, fine grained access. The web component requires\
    \ the role of `write:business:${businessId}` with the id of the business you created\
    \ in the previous step.\n```\nasync function getWebComponentToken(token, businessId)\
    \ {\n  const response = await fetch('https://api.justifi.ai/v1/web_component_tokens',\
    \ {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n\
    \      'Authorization': `Bearer ${token}`\n    },\n    body: JSON.stringify({\n\
    \      \"resources\": [`write:business:${businessId}`]\n    })\n  });\n  const\
    \ data = await response.json();\n  return data.access_token;\n}\n\nconst webComponentToken\
    \ = await getWebComponentToken(token, business.id);\n```\n\n### Render the PaymentProvisioning\
    \ web component\nUsing the web component token generated above and the business\
    \ id, render the [PaymentProvisioning web component](https://storybook.justifi.ai/?path=/docs/entities-payment-provisioning--docs).\
    \ This will allow your customer to provide all business information required for\
    \ payment processing\n```\n<justifi-payment-provisioning auth-token=\"${webComponentToken}\"\
    \ business-id=\"${business.id}\"></justifi-payment-provisioning>\n```\n\n### Handle\
    \ success/failure events of the web component\nThe web component makes an API\
    \ request every time the user moves to a `Next` step and when the user submits\
    \ the form. Whenever the web component receives an API response it emits a `submitted`\
    \ event that contains the API response.\n\nWhen the form is submitted we provision\
    \ the business and create a sub account for the business. The `submitted` event\
    \ data will contain the response from the [Provisioning API request](https://docs.justifi.tech/api-spec#tag/Provisioning/operation/ProductProvisioning).\
    \ If the provisioning request was successful the response will include the `sub_account_id`\
    \ attribute of that newly created sub account. Otherwise, an error message can\
    \ be presented to the user. Our example below covers both.\n\nThe `error` event\
    \ means there was an issue with the PaymentProvisioning form connecting to the\
    \ network, etc.\n\n```\n<script>\n  const justifiPaymentProvisioning = document.querySelector('justifi-payment-provisioning');\n\
    \  justifiPaymentProvisioning.addEventListener('submit-event', (event) => {\n\
    \    if (event.details.data) {\n      console.log(\"Form sumbission succeeded!\"\
    );\n    } else {\n      console.log(\"An error occured\")\n    }\n  });\n  justifiPaymentProvisioning.addEventListener('error-event',\
    \ (event) => {\n    console.log(event);\n  });\n</script>\n```\n\n### Check the\
    \ sub account's status\nOnce your business submits the onboarding form\n1. We\
    \ will provision your business for payment processing and create a `sub account`\
    \ for this business as mentioned above. This sub account is the representation\
    \ of your business for payment processing.\n2. We'll review the submitted information.\
    \ This underwriting process can take up to a few business days. Once approved\
    \ the status of the sub account will be updated to `enabled` and payments can\
    \ be processed. \n\nIn order to check the account's onboarding status, call the\
    \ [Get a Sub Account endpoint](https://docs.justifi.tech/api-spec#tag/Sub-Accounts/operation/GetSubAccount)\
    \ or use an event publisher to subscribe to the [`sub_account.updated` events](https://docs.justifi.tech/api-spec#tag/Events/operation/subAccountEvent)\n\
    \n#### Retrieve a sub account\n\n```\nasync function getBusiness(token, accountId)\
    \ {\n  const response = await fetch(`https://api.justifi.ai/v1/sub_accounts/${accountId}`,\
    \ {\n    method: 'GET',\n    headers: {\n      'Content-Type': 'application/json',\n\
    \      'Authorization': `Bearer ${token}`\n    }\n  });\n  const data = await\
    \ response.json();\n  return data;\n}\n\nconst business = await getBusiness(toke,\
    \ account.id);\n```"
- name: Hosted Onboarding
  x-traitTag: true
  description: "In order to process payments, each of your customers (whom we refer\
    \ to as `businesses`) will have to be onboarded on our platform. Once they are\
    \ added they go through an approval process. JustiFi's hosted onboarding provides\
    \ you with an easy-to-implement, user-friendly way to collect the required business\
    \ and financial information from each business within your platform. Once approved,\
    \ your business can process payments through JustiFi.\n\nTo onboard a new business\
    \ via hosted onboarding\n1. Create a business\n2. Include JustiFi hosted onboarding\
    \ in your application\n3. (optional) Listen to success/fail message\n4. Check\
    \ the underwriting status of the sub account connected to the business\n\n\n\n\
    ### Create a business\n\n#### Create a business\n```sh\ncurl -X POST \\\n  https://api.justifi.ai/v1/entities/business\
    \ \\\n  -H 'Authorization: Bearer {access_token}' \\\n  -H 'Content-Type: application/json'\
    \ \\\n  -d '{\n    \"legal_name\": \"legal business name\"\n  }'\n```\n\nUse the\
    \ entities API to [create a business](https://docs.justifi.tech/api-spec#tag/Business/operation/CreateBusiness)\
    \ on JustiFi that is associated with your platform. You will need the `business_id`\
    \ from the business you create for the next step.\n\n### Include JustiFi hosted\
    \ onboarding in your application\nTo present the JustiFi hosted onboarding form\
    \ to your user, create an iframe with a source of `https://onboarding.justifi.ai/v1/provisioning/BUSINESS_ID`,\
    \ where `BUSINESS_ID` is the `business_id` that was created in the previous step.\
    \ This iframe will present your user with a multi-step form where they can enter\
    \ the business and financial information needed for approval. Upon submission,\
    \ a success message will display.\n\n(*Note: Passing a `sub_account_id` to the\
    \ iframe instead of a `business_id` is still supported but will be deprecated\
    \ soon*)\n\n### (optional) Listen to success/fail message\n\n#### Listen to success/fail\
    \ message\n```js\nconst handleOnboardingCompletion = (e) => {\n  const { eventType\
    \ } = e.data;\n  if (eventType === 'submitSuccess') {\n    // Handle successful\
    \ onboarding\n  }\n  if (eventType === 'submitFailure') {\n    // Handle failed\
    \ onboarding\n  }\n};\n\nwindow.addEventListener('message', handleOnboardingCompletion);\n\
    ```\n\nWhen the onboarding is completed, success or failure, the JustiFi iframe\
    \ will send a postMessage. This allows your platform to take a next step, for\
    \ example closing a modal, or redirecting to another page.\n\n### Check the underwriting\
    \ status of the sub account connected to the business\n\nOnce your business submits\
    \ the onboarding form\n1. We will provision your business for payment processing\
    \ and create a `sub account` for this business. This sub account is the representation\
    \ of your business for payment processing.\n2. We'll review the submitted information.\
    \ This approval process can take up to a few business days. In order to check\
    \ the account's onboarding status, call the [Get a Sub Account endpoint](https://docs.justifi.tech/api-spec#tag/Sub-Accounts/operation/GetSubAccount)\
    \ or use an event publisher to subscribe to the [`sub_account.updated` events](https://docs.justifi.tech/api-spec#tag/Events/operation/subAccountEvent)\n\
    \n#### Retrieve a sub account\n```sh\ncurl -X GET https://api.justifi.ai/v1/sub_accounts/ACCOUNT_ID\
    \ \\\n    -H 'Authorization: Bearer [access_token]' \\\n    -H 'Accept: application/json'\n\
    ```\n\n\n"
- name: Onboarding via API
  description: "In order to process payments, each of your customers (whom we refer\
    \ to as `businesses`) will have to be onboarded on the JustiFi platform. Once\
    \ they are added they go through an approval process. JustiFi's onboarding API\
    \ allows you to utilize your own onboarding frontend to collect the required business\
    \ and financial information from each of your businesses. Once approved, your\
    \ business can process payments through JustiFi.\n\nTo onboard a new business\
    \ via the API\n1. Create a business\n2. Create a bank account\n3. Upload documents\n\
    4. Accept terms and conditions\n5. Provision the business\n6. Check the sub account's\
    \ status\n\n\n### Create a business\n\n#### Create a business\n```sh\ncurl -X\
    \ POST \\\n  https://api.justifi.ai/v1/entities/business \\\n  -H 'Authorization:\
    \ Bearer {access_token}' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n\
    \    \"legal_name\": \"Business name\"\n  }'\n```\n\nUse the business API to [create\
    \ a business](https://docs.justifi.tech/api-spec#tag/Business/operation/CreateBusiness)\
    \ on JustiFi that is associated with your platform. The create business API endpoint\
    \ does not require any parameters but they will be required when the business\
    \ is provisioned (see step 5).\nYou will need the ID from the business you create\
    \ for the next steps.\n\n\n### Create a bank account\nUse the bank account API\
    \ to [create a bank account](https://docs.justifi.tech/api-spec#tag/Bank-Account/operation/CreateBankAccount).\
    \ This bank account will be used to pay out earnings for payment processing to\
    \ the business.\n\n\n### Upload documents\nUse the document API to [upload a document](https://docs.justifi.tech/api-spec#tag/Document/operation/CreateDocument).\
    \ The minimum document requirement (for small businesses and sole proprietors)\
    \ is a voided check.\n\n\n### Accepte terms and conditions\nUse the terms and\
    \ conditions API to [accept terms for payment processing](https://docs.justifi.tech/api-spec#tag/Terms-and-Conditions/operation/TermsAndConditions).\
    \ \n\n### Provision the business\n\n#### Provision the business for payment processing\n\
    ```sh\ncurl -X POST \\\n  https://api.justifi.ai/v1/entities/provisioning \\\n\
    \  -H 'Authorization: Bearer {access_token}' \\\n  -H 'Content-Type: application/json'\
    \ \\\n  -d '{\n      \"business_id\": \"biz_123\",\n      \"product_category\"\
    : \"payment\"\n      }'\n```\n\nOnce you have submitted all business related information\
    \ use the provisioning API to [provision the business for payment processing](https://docs.justifi.tech/api-spec#tag/Provisioning/operation/ProductProvisioning).\
    \ At this point all required parameters for payment processing are validated.\
    \ An error is returned if any fields are missing. \nIf successful, the product\
    \ provisioning request will create a sub account associated with the business.\n\
    The response will include the ID of that associated sub account. It is required\
    \ for any payment processing related API requests.\n\n### Check the sub account\
    \ status\n\n#### Retrieve a sub account\n```sh\ncurl -X GET https://api.justifi.ai/v1/sub_accounts/ACCOUNT_ID\
    \ \\\n    -H 'Authorization: Bearer [access_token]' \\\n    -H 'Accept: application/json'\n\
    ```\n\nOnce you have provisioned the busiess, we'll review their information.\
    \ This approval process can take up to a few business days. In order to check\
    \ the associated sub account's onboarding status, call the [Get a Sub Account\
    \ endpoint](https://docs.justifi.tech/api-spec#tag/Sub-Accounts/operation/GetSubAccount)\
    \ or use an event publisher to subscribe to the `sub_account.updated` events.\n"
- name: Proceeds
  description: 'Proceeds represent your platform''s take-home portion of the fees
    from your sub account''s financial transactions.

    Proceeds are batched together according to the payout schedule configured on your
    account, then transferred

    to your active bank account.

    '
- name: EventBridge (AWS) Delivery
  x-traitTag: true
  description: "Integrate your app with Amazon EventBridge (https://aws.amazon.com/eventbridge)\
    \ to manage large volumes of\nevent notifications and receive JustiFi events using\
    \ an event bus.\n\nEventBridge lets you process events at the rate that works\
    \ for your tech stack without getting\noverwhelmed. It is highly scalable and\
    \ resilient, and lets you accept more webhook traffic while\nreducing your infrastructure\
    \ cost and complexity.\n\n**When you're ready to get started:**\n\n- Go to EventBridge\
    \ in your AWS Console\n- Create an Event Bus to allow events from another account\n\
    - Add the specified policy as a resource-policy to the event bus\n```\n{\n  \"\
    Version\": \"2012-10-17\",\n  \"Statement\": [{\n    \"Sid\": \"allow_justifi_account_to_put_events\"\
    ,\n    \"Effect\": \"Allow\",\n    \"Principal\": {\n      \"AWS\": \"arn:aws:iam::<justifi-account-id>:root\"\
    \n    },\n    \"Action\": \"events:PutEvents\",\n    \"Resource\": \"arn:aws:events:<aws-region>:<aws-account-id>:event-bus/<aws-event-bus-name>\"\
    \n  }]\n}\n```\n\n*Contact JustiFi to get our AWS account id*\n\n\nEventBridge\
    \ allows events to be sent to multiple targets.\nThe following example will send\
    \ those events to a Cloudwatch Log Group\n\n- Go to CloudWatch in your AWS Console\n\
    - Create a Log Group\n\n\nBack on EventBridge:\n- Create an Event Rule to receive\
    \ JustiFi Events inside previously created event bus\n- Add the following event\
    \ pattern \n```\n{\n  \"source\": [\"justifi.events\"]\n}\n```\n- Add CloudWatch\
    \ Log Group as a target\n- You can either type the log group name or select it\
    \ in the list\n\nIn the Developer Tools section of the JustiFi app:\n- Add an\
    \ event publisher with EventBridge delivery method and enter the ARN for your\
    \ event bus (you\u2019ll also choose which event types will publish). We recommend\
    \ starting with a test account.\n- Test the publisher by prompting one of the\
    \ event types you chose and making sure you receive the published event\n"
- name: Webhook Delivery
  x-traitTag: true
  description: "In addition to direct EventBridge publishing, we offer event delivery\
    \ to your app via webhooks.\nWebhooks are a reliable method to subscribe to our\
    \ published events via an API endpoint.\n\nWebhooks are secured by signature verification,\
    \ which you will need to verify by generating a SHA-256 hex using the following\
    \ information:\n\n| Parameter  | Header            | Value                   \
    \                                        |\n|------------|-------------------|-----------------------------------------------------------------|\n\
    | Timestamp  | JUSTIFI-TIMESTAMP | ISO string format                         \
    \                      |\n| Signature  | JUSTIFI-SIGNATURE | String          \
    \                                                |\n| Algorithm  | -----------------\
    \ | SHA-256                                                         |\n| Secret\
    \ Key | ----------------- | Found in your event publisher's page             \
    \               |\n| Message    | ----------------- | String in the format `<timestamp_header>.<received_event_json>`\
    \ |\n\nTo verify the signature simply compare the generated SHA-256 hex against\
    \ it; if it is successful the webhook signature is valid.\n\nHere is a code example\
    \ for reference:\n```ruby\ndef webhook_signature_valid?(signature, received_event,\
    \ timestamp, secret_key)\n  timestamp_payload = \"#{timestamp}.#{received_event.to_json}\"\
    \n  algorithm = OpenSSL::Digest.new(\"sha256\")\n  hex = OpenSSL::HMAC.hexdigest(algorithm,\
    \ secret_key, timestamp_payload)\n\n  signature == hex\nend\n```\n\nIf you are\
    \ using any of our SDKs, we provide a convenient method for validating the signature.\n\
    \nAfter validating, you must respond with a `200 OK` with in **5 seconds**. In\
    \ the event of a non-200 response or a delay of more than 5 seconds, delivery\
    \ will be\nattempted again. For live accounts, webhooks are retried 10 times over\
    \ 24 hours.\nFor test accounts, webhooks are retried 3 times over 1 hour.\n\n\
    **When you're ready to get started:**\n\n- Create the endpoint on your server\
    \ that will receive published events\n- Add an event publisher with webhook delivery\
    \ method in the Developer Tools section of the app (you\u2019ll subscribe your\
    \ endpoint to the event types of your choice). We recommend starting with a test\
    \ account.\n- Test the publisher by prompting one of the event types you chose\
    \ and making sure your subscribed endpoint receives the published event\n"
- name: JustiFi Web Components
  description: 'JustiFi Web Components offer an expanding collection of components
    that can be used in virtually any application,

    no matter the tech stack. They can be installed using NPM, or included via CDN
    using a script tag. To learn more,

    see the documentation in [our public GitHub repositiory](https://github.com/justifi-tech/web-component-library#documentation).

    '
- name: JustiFi SDK
  description: 'We offer support for using our API via a Ruby SDK and a Node SDK.
    The projects are

    open source and available on Github. You can view full documentation on usage
    there.

    As more languages are supported, they will be added to this list:


    - [JustiFi Ruby SDK](https://github.com/justifi-tech/justifi-ruby)

    - [JustiFi Node SDK](https://github.com/justifi-tech/justifi-node)

    - [JustiFi Mobile SDK](https://github.com/justifi-tech/justifi-react-native-sdk)

    '
- name: Events
  description: 'Our event publishing system allows you to subscribe to certain events
    on the JustiFi platform.

    Once subscribed, your application will be notified anytime those events occur,
    so you can react

    accordingly in real time. We support two event-delivery mechanisms; you can receive
    them via

    webhooks or directly to an AWS Eventbridge event bus.


    We will publish the following events:


    - payment.created

    - payment.succeeded

    - payment.failed

    - payment.pending

    - payment.authorized

    - payment.captured

    - payment.canceled

    - payment.refunded

    - payment.refund.updated

    - payment.dispute.created

    - payment.dispute.closed

    - payment_method.created

    - payment_method.updated

    - payment_method.bin_mapped

    - payment_intent.attached

    - payment_intent.created

    - payment_intent.requires_capture

    - payment_intent.succeeded

    - payout.bank_account.activated

    - payout.created

    - payout.paid

    - payout.failed

    - proceeds.payout.created

    - sub_account.updated

    - application_fee_rate.created

    - application_fee_rate.updated

    - entity.business.created

    - entity.business.updated

    - entity.identity.created

    - entity.identity.updated

    - entity.address.created

    - entity.address.updated

    - entity.document.created

    - entity.document.uploaded

    - entity.bank_account.created

    - checkout.created

    - checkout.completed

    - checkout.completion.succeeded

    - checkout.completion.failed

    - account.payment_setting.updated

    - account.payout_setting.updated

    - terminal_order.created

    - terminal_order.updated

    '
- name: Business
  description: 'Creating a business entity is an essential step in integrating your
    business operations with JustiFi.

    It is also necessary to comply with local laws and regulations governing your
    operations.

    To create a new business entity, you will need to provide basic information such
    as the business name, website, business type, business structure, and your industry.

    You may also add details like the legal address, tax ID, and ownership structure.

    Providing detailed and accurate information about the business entity is essential
    for ensuring legal compliance, financial accuracy, and it can also help avoid
    potential legal and financial issues.


    Business classification encompasses both the type of business and its operational
    structure.

    Use the following table to map your current business type and structure to the
    correct business classification:


    | Business Type     | Business Structure                    | Business Classification
    |

    | -------------     | ------------------                    | -----------------------
    |

    | individual        | *                                     | sole_proprietor         |

    | for_profit        | unincorporated_association            | sole_proprietor         |

    | for_profit        | sole_proprietorship                   | sole_proprietor         |

    | for_profit        | public_partnership                    | partnership             |

    | for_profit        | private_partnership                   | partnership             |

    | for_profit        | private_corporation                   | corporation             |

    | for_profit        | public_corporation                    | public_company          |

    | for_profit        | multi_llc                             | limited                 |

    | for_profit        | single_llc                            | limited                 |

    | non_profit        | incorporated                          | non_profit              |

    | non_profit        | unincorporated                        | non_profit              |

    | government_entity | government_unit                       | government              |

    | government_entity | government_instrumentality            | government              |

    | government_entity | tax_exempt_government_instrumentality | government              |


    Please, choose whether you want to use the business classification (preferred)
    or the business type and structure (deprecated), but not both. Business classification
    is a simplification of business type and structure with the same goals.


    _Note: If you use the classification, it will not have the exact same correspondence
    with the business type and structure from the previous table because there are
    fewer classifications than types/structures._

    '
- name: Identity
  description: 'Creating an identity establishes a unique identification for people
    associated with your business. Accurately providing your information is crucial
    in ensuring that your identity is properly verified and maintained, and can have
    important consequences for a variety of financial and legal transactions. Our
    platform has a secure database for storing identity information, encryption and
    other security measures to protect your sensitive data.

    '
- name: Address
  description: 'Creating an Address entity provides the necessary information to identify
    and locate a physical address. It may be associated with an Identity entity or
    Business entity to provide a more complete picture of the parties involved.

    '
- name: Document
  description: 'Create/manage documents attached to your businesses and identities.
    When a document record

    is created using this API the response object returns a presigned url used to
    upload this

    document to an encrypted bucket. The presigned url can then be used to upload
    directly to an

    AWS s3 bucket, with a command like `curl -X PUT -T /path/to/file.pdf "insert presigned
    url"`.

    You must use the PUT method. This can also be accomplished from a backend or mobile
    app, from the browser or using our web components.

    After upload is complete the status changes from `pending` to `uploaded`.

    '
- name: Bank Account
  description: 'Create/manage bank accounts for your businesses. These accounts are
    used for paying out earnings for usage of various products, for example card processing.

    '
- name: Terms and Conditions
  description: 'Legally binding rules and agreements that outline the rights, responsibilities,
    and limitations governing the use of the platform.

    '
- name: Provisioning
  description: 'Provisioning API for Products serves as an automated interface to
    configure resources based on your current entities informations, for example creating
    an account for card processing.

    '
- name: Payment Method Migration
  description: '## Data Import

    JustiFi enables you to transfer your existing customer data and payment methods.  Please
    contact our [Customer Success Department](mailto:customer_success@justifi.tech)
    to begin work with your existing processor to securely transfer your information.


    ### PGP Encryption

    Many processors utilize PGP to encrypt sensative data.  You can find useful information
    about PGP by looking over the [GPG](http://gnupg.org/) documentation.

    Once you understand the basics, you will want to [import a public key](http://www.gnupg.org/gph/en/manual.html#AEN84).  Please
    contact our [Customer Success Department](mailto:customer_success@justifi.tech)
    if you have any questions.


    #### JusitiFi''s PGP migration key


    |  |  |

    |--|--|

    |**Key ID** |`A4546473910D638E`|

    |**User ID**|`JustiFi Import Key (PCI) support-migrations@justifi.tech`|

    |**Fingerprint**|`0E7C 2E45 F62D 98D7 F7B8 776B A454 6473 910D 638E`|

    |**Key Type**|`RSA`|

    |**Key Size**|4096|



    ##### Public Key

    ```bash

    -----BEGIN PGP PUBLIC KEY BLOCK-----


    mQINBGS+8MwBEACibKFR3bZb4huE7piU0fX3zbLpIq+Jnvs79v5ywVMYvu1kgzbb

    XcA0Td2IO0PXuG/cgH4JxH1qVG+cSGjSQ0rOpoQWG5hwOrvRVH17SUQMkZxgDwQb

    pCo1N44L+Ij23wW3JlyVb/FbVTK6uctjPmOoonFtzMG2ObKyeTqc1yWFqaIypjvG

    AUG2SzgLVqTTLIE5AySyOIpHTnQUwky4J/yCaWhcEJcsQ9GFHx/e+gAlReydMxfa

    WhTlMf9Cjm/WaOKVVKrTVicOtfVsFSWmxgtVMK5Smo0YGyF57Oz36Axy63g3QyYs

    6XhWiuqCYpnH9EYHNDZaD6G1tZMyczon/rQNtCemUJeM96eyoVi8zK9wCDQT0fQ3

    06JqqQtJqI3pAdzQ/VNYwm57XzZPXpFQ7ZGW+0JWb0UfGiwHgnOd/NHsy8imMQiK

    FLQjsFnDKVpRgXjqiRUX2/2Qs22XKprKmr6ptNweFLwU1dW0qBkmeM2GBaq7hAdq

    Kx6zoPwhYMe7ZxzKO2brvBcxMexhIBYAgdZR3AIdqLWnkGBHY4A3rXYAXqBOiryA

    SFK9r6VKr8CihdF4sasdf0uALEOiSYzcXarc5k1rlPxD9ldXduv+RdoodoHVW//+

    ID+kvQQSwVOMSF8In+9j+Hhu2Ma3BLDRAqz/Vip9vB9frUn/YyqxjoZQxQARAQAB

    tDpKdXN0aUZpIEltcG9ydCBLZXkgKFBDSSkgPHN1cHBvcnQtbWlncmF0aW9uc0Bq

    dXN0aWZpLnRlY2g+iQJXBBMBCABBFiEEDnwuRfYtmNf3uHdrpFRkc5ENY44FAmS+

    8MwCGwMFCQPCZwAFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcCF4AACgkQpFRkc5EN

    Y44txBAAk89sEzllrgo2f2EJ8esYrZUeOE7Rn9jNdBvb87DO2S4In6XuWWS3SjvO

    aTR9aeJcwueJEZIYzz69k2PWr72CWhW7SQwkjz4on/PH6/jWK2+1en1J5NYVy3SR

    kPrVpcasKYf07fG5DmaUiTla7/S2NxBu+kl5ZXNaaBghg/8TCDjL7J7AcJaYKuRm

    71Tc83ISG+PfbiJ8G4FBq5sOoA6s+6MwBZOYlSCX13V4DvdM6wT6kaJWFnI1ny/w

    4X67NBlW/bCXAdLO3nduAe9fGf9OYkB+/CVsqHHHr7Y/PUbQLqwkrHw29vZlenXG

    wHi6NbKHahgYe0KvrTqIa3iOhEusu5+JrIN13PPnLs8tGQQBANjW4KrbYGwwZQGp

    88jnzeT5BsMTEEHxCoFH4b7vkdap8KaveI6UswZk7LKV8lxF+nG6hBnHuiaGDTfD

    6mH4UQiDTnz2AQt2F4TiKEHn2FwT6VZMWaH3Yljz7915YW805ZWaIn2G5ACZKnqd

    vZ/1YarzyNiwwtkIBaWd6twaK5Gzo0uR7u19L/upobOQ2rZxm2czoAewf2sqef5g

    xHezpfSiu7cpoSUAYbfJI1xMHyJgdOu1nBI8O94bt7iy2aUreIUUnq4uha/TnSdb

    t0iyvPT+fVbvELzzMQdL5zQRqtl9R9w9byNfE8eQvnL5Z00BRze5Ag0EZL7wzAEQ

    AMF7UzULBsQmK4LwiuwVOcrYnN0ORQ/AXqDt09cOksDON4UzPrZxvq0FTggi9mzj

    U83onhtOv9mjoLYmgdaHUEhhzw167lmWbpwmD/w8PoLgmssrqUcnZH8nYsdYXpkR

    ZCTsd68nJdhBQLHjpnH9Ok6nB3ApiPaktIF1Z5Lu8pdPKQVSVHsEUOJ+qZM4cGXk

    WsqZLhmjycXnoF5ezSrUik8KwJL13fVFT7NCKagZazcCP57dNMF+sN6VZQSsvCOC

    jGjErIGJ6jZ4Qwdd9XVgygxtT5AEj0UakLZJZJfvO9o1ssxQ0TqOQyIj4n/45fRQ

    nNSWR03LubksurvduZxpaI1s8p5G3WH2mSVocV+AZV2vmcz/GAFLOS1Ik6EalRDh

    DVfGy5o/0D+rURs1zpcCwn1C3bib+LES9S6rnahkhzfqn1J456CxXzVtaqKJrfYq

    l2oYd7C18kbarzBLIlEsygWf3yJi/VnsE/2beV2fa7BtQwvdongq9w8IMPzNyXEU

    I/7QycB6+YURvt51bhmulSDcFcy6zL1AphLcn/2HQcQs9CMTpwc6QxBuOevgd4Hx

    zRIweYzwND+a8pEzIoHIsfpPkWNFOzGWTj5apE9IwbrQ4oVk+Yd7KrcbZHDLTmtd

    /yfAQtgGeiO7ns6APdggzKhGMTuTsLPla9zrY1aLSVOLABEBAAGJAjwEGAEIACYW

    IQQOfC5F9i2Y1/e4d2ukVGRzkQ1jjgUCZL7wzAIbDAUJA8JnAAAKCRCkVGRzkQ1j

    jntdD/933jRfHN10CEHcwHc6t/GKN3y00mQG0PejsVF4VM+W7cW4cfCg7l7Ro3Qu

    8B1mTEP6EXdx8XOq+v+06XNvk4d3KFRnBDuhPLsKMfJOyDLQfoRavea/9eCsFAEk

    KdG75n0MbKn1h5LuYmXJV/aErLO9StZMNax5/89JlqI7GgtGCfGDkUShDM42+xAK

    Jc/hAz0WBnhspYmSFgeewry/rt6b7iWXcxKl7KiZLvBxv5KtzdJWIp0SdwnbeHyH

    BZaYjoXkBgJE0DcvEDkqPI2Hn60dOwgrknC0+tQHxhxHXlWbZKg5lWt9ZJYjNIf/

    v6qoVOjkOc519BlJnfk2rL3SpJR5k+WTUj82xdd0LumskPC94vYdiNDsgYefD4tO

    qoDX24kqeW5HL4jSGaqmgaUPEdlxDh1COQACpVGHqSru6QXZFkSmDKH2pSrmpub9

    IOgEaUb1S5WYRuNQiQJS6PpGwIa9TOmyWVidTNwJbi6j2XIlkTHEXrg9VE83KTau

    W8j94/ty8orLMuJevCI0ZO5DvlN+vP8SEy1nLwcVQYcc4kn9ywOLNJXy6jQXO8Vs

    mypLFmqv+hH7cc9TE9X4sRwtYjLuvZG9lobV1M+DrMh2wVyuVEUOSWXuG7VDYA/o

    su058bXjAzQnJhMnXn4AWsQRuovUOfVckTfOlUJXhmAPf7pQaw==

    =oyvP

    -----END PGP PUBLIC KEY BLOCK-----

    ```



    #### Importing and using our key


    1. Copy JustiFi''s migration key into a new file named `public.key`

    2. Run the GPG command to import the key.

    ```sh

    gpg --import public.key

    ```

    3. Encrypt your file using the newly imported key.  This will create an encrypted
    file named `import_file.json.gpg`.

    ```sh

    gpg --encrypt --recipient A4546473910D638E import_file.json

    ```



    '
- name: Terminals
  description: 'JustiFi provides a card present solution which allows you to collect
    a payment via a terminal provider via one of our technology partners.


    To collect a payment via terminal, you must first ensure you ask the JustiFi team
    to enable the card present feature for your platform. Next, we will work to provision
    and configure terminals for your sub accounts.


    Once you have configured a terminal, you must complete the following steps to
    complete a payment:


    1. Create a Checkout

    2. Send a checkout to a terminal

    3. Terminal processes payment async

    4. Handle checkout.completed event (recommended)

    5. OR poll checkouts API for status change (optional)


    ### Create a checkout

    [Create a Checkout](https://docs.justifi.tech/api-spec#tag/Checkouts/operation/CreateCheckout)
    with the amount you''d like to capture, and a description of the payment.


    ### Send a checkout to a terminal

    [POST to the terminal pay endpoint](https://docs.justifi.tech/api-spec#tag/Terminals/operation/payTerminal)
    which will be used to send your checkout to a terminal for processing. This process
    can take some time as it requires customer interaction. For this reason, the API
    will return immediately but the process is asynchronusly happening on a terminal.


    ### Terminal processes payment async

    At this point, the process is handed over to the terminal to complete. Once the
    payment transaction is completed, we will publish an event for you to continue
    the process and take further action, as noted in the next step.


    ### Handle checkout.completed event

    Create an [Event Publisher](https://docs.justifi.tech/api-spec#tag/Events) which
    publishes [`checkout.completed` events](https://docs.justifi.tech/api-spec#tag/Events/operation/checkoutEvent).
    This will provide a means to ensure the payment was successful. You can also listen
    to checkout completion events, for example a checkout.completion.failed event
    will be published each time a card is attempted to be processed but the transaction
    fails for some reason.


    ### Poll checkouts API for status change

    If you do not have the ability to handle event publishing, you could poll our
    checkout API with the id of the checkout you are processing. Contine to poll until
    the checkout status attribute changes. We recommend you use the checkout events
    instead of this approach.'
- name: Terminals Orders
  description: 'Terminals Orders API for order management

    '
- name: Checkouts
  description: 'Checkouts can be used to collect payments directly via API, or using
    our Checkout component.

    You can use a checkout to complete a payment via JustiFi, via BNPL, via terminal,

    and to purchase insurance in a single transaction.


    All attempts to complete a payment will be recorded, along with the outcome of
    a payment.

    '
- name: Checkout via Component
  x-traitTag: true
  description: "A checkout is used to initiate the collection of a credit card payment,\
    \ ACH payment, insurance quote payment, BNPL payment, or card reader payment in\
    \ a single flow. This walk through will take you through collecting a payment\
    \ via checkout using the [Unified Fintech Checkout\u2122 web component](https://storybook.justifi.ai/?path=/docs/payment-facilitation-unified-fintech-checkout%E2%84%A2--docs).\
    \ We assume you have an activated sub account for payment processing.\n\n1. Get\
    \ an access token\n2. Create a Checkout\n3. Generate a Web Component Token\n4.\
    \ Render the checkout component\n5. Handle success/failure events\n\n\n### Get\
    \ an access token\nOn your backend, using your client id and client secret from\
    \ the Developer > API keys section of the JustiFi dashboard. Using those, generate\
    \ an [access token](https://docs.justifi.tech/api-spec#tag/API-Credentials/operation/CreateAccessToken).\n\
    \n```\nfunction getToken() {\n  return fetch('https://api.justifi.ai/oauth/token',\
    \ {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json'\n\
    \    },\n    body: JSON.stringify({\n      \"client_id\": \"YOUR CLIENT ID\",\n\
    \      \"client_secret\": \"YOUR CLIENT SECRET\"\n    })\n  })\n    .then(response\
    \ => response.json())\n    .then(data => data.access_token);\n}\n\nconst token\
    \ = await getToken();\n```\n\n### Create a checkout\nFrom your backend create\
    \ a checkout using the [Checkout API](https://docs.justifi.tech/api-spec#tag/Checkouts/operation/CreateCheckout).\
    \ A checkout requires a payment `amount` and `descripton`. You can also pass a\
    \ [Payment Method Group](https://docs.justifi.tech/api-spec#tag/Payment-Method-Groups)\
    \ if you want a customer's pre-entered card information to be shown on the checkout.\
    \ To render the checkout component, you must set the `origin_url` parameter to\
    \ be the domain on which you will render the component. For example, to develop\
    \ locally you could specify \"http://localhost:3000\" if you're developing on\
    \ port 3000.\n\n```\nasync function makeCheckout(token, subAccountId) {\n  const\
    \ response = await fetch('https://api.justifi.ai/v1/checkouts', {\n    method:\
    \ 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization':\
    \ `Bearer ${token}`,\n      'Sub-Account': `${subAccount}`,\n    },\n    body:\
    \ JSON.stringify({\n      \"amount\": 1799,\n      \"description\": \"One Chocolate\
    \ Donut\",\n      \"payment_method_group_id\": \"(optional)\",\n      \"origin_url\"\
    : http://localhost:3000\n    })\n  });\n  const data = await response.json();\n\
    \  return data;\n}\n\nconst subAccountId = \"acc_5Et9iXrSSAZR2KSouQGAWi\nconst\
    \ checkout = await makeCheckout(token, subAccountId);\n```\n\n### Generate a Web\
    \ Component Token\nTo render the checkout component, you must generate a web component\
[...]
